* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: 700;
}

.clear {
  clear: both;
}

body {
  background: url("../img/body.png") repeat-x;
  font-family: "Arial";
  font-size: 14px;
}

.site {
  width: 940px;
  margin: 70px auto 0;
}

.ust {
}

.ust-logo {
  float: left;
}

.ust-sag {
  float: right;
}

.ust-sag p.contact {
  margin-top: 20px;
  padding-left: 20px;
  background: url("../img/header-tel.png") no-repeat left center;
  font-size: 12px;
}

.ust-sag ul.languages {
  float: right;
  margin-top: 10px;
}

.ust-sag ul.languages li {
  float: left;
  margin-left: 5px;
}

.ust-sag ul.languages li:first-child {
  margin-left: 0;
}

.main-menu {
  margin-top: 20px;
  border: 1px solid #ccc;
}

.main-menu ul {
}

.main-menu ul li {
  float: left;
  border-left: 1px solid #ccc;
}

.main-menu ul li:first-child {
  border-left: 0;
}

.main-menu ul li a {
  display: inline-block;
  padding: 20px;
}

.main-menu ul li a:hover {
  background-color: orange;
  color: white;
}

.slider {
  margin-top: 20px;
  border: 1px solid #ccc;
}

.slider img {
  display: block;
}

.slogan {
  margin-top: 20px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.uclu-alan {
  margin-top: 20px;
}

.uclu-alan .yazi {
  width: 300px;
  float: left;
  margin-left: 20px;
}

.uclu-alan .yazi:first-of-type {
  margin-left: 0;
}

.uclu-alan .yazi h2 {
  height: 35px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
}

.uclu-alan .yazi-1 h2 {
  background-image: url("../img/list-01.png");
}

.uclu-alan .yazi-2 h2 {
  background-image: url("../img/list-02.png");
}

.uclu-alan .yazi-3 h2 {
  background-image: url("../img/list-03.png");
}

.uclu-alan .yazi p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
}

.alt {
  margin-top: 20px;
  padding: 20px 10px;
  background-color: orange;
  border-radius: 3px;
}

.alt-menu {
  width: 300px;
  float: left;
  font-size: 12px;
}

.alt-menu ul {
}

.alt-menu ul li {
  float: left;
}

.alt-menu ul li:before {
  float: left;
  display: block;
  margin-right: 5px;
  margin-left: 5px;
  content: "-";
}

.alt-menu ul li:first-child:before,
.alt-menu ul li:nth-child(4):before {
  display: none;
}

.alt-bilgi {
  float: left;
  margin-left: 20px;
}

.alt-bilgi p {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  font-size: 12px;
}

.alt-bilgi p.adres {
  background-image: url("../img/footer-address.png");
}

.alt-bilgi p.telefon {
  margin-top: 5px;
  background-image: url("../img/footer-tel.png");
}



@media (max-width: 767px) {
  body {
    background-color: red;
  }
}

@media (max-width: 480px) {}

